NEXT_PUBLIC_SANITY_PROJECT_ID=9x78oq9t
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-08-01
FORM_EMAIL_PROVIDER=resend
FORM_TO_EMAIL=rubaaress2012@gmail.com
FORM_FROM_EMAIL=Rubaare Secondary School Website <website@rubaaress.sc.ug>
RESEND_API_KEY=
